<div class="maindiv">
    <div class="childdiv1">
        
        <div class="childdiv12">
            <div class="childdiv121">
                <div id="myDiv1">
                    <div class="myDiv11">
                        Prompt
                    </div>
                    <div>x</div>
                    <div>x</div>
                    <div class="test1"></div>
                    <div class="test2"></div>
                    <div class="test3"></div>
                    <div class="test4"></div>
                    <div class="test3"></div>
                    <div class="test4"></div>
                    <div class="test3"></div>
                </div>
                <div id="myDiv2">
                    <div class="myDiv11">
                        Code
                        <button mat-raised-button color="primary" class="divButton">Run</button>
                    </div>
                    <div>x</div>
                    <div>x</div>
                    <div class="test7">
                        <div class="test77"></div>
                        <div class="test78"></div>
                        <div class="test79"></div>
                        <div class="test710"></div>
                    </div>
                    <div class="test8">
                        <div class="test87"></div>
                        <div class="test88"></div>
                        <div class="test89"></div>
                        <div class="test810"></div>
                    </div>
                    <div class="test9">
                        <div class="test97"></div>
                        <div class="test98"></div>
                        <div class="test99"></div>
                        <div class="test910"></div>
                    </div>
                    <div class="test10">
                        <div class="test107"></div>
                        <div class="test108"></div>
                        <div class="test109"></div>
                        <div class="test1010"></div>
                    </div>
                    <div class="test11">
                        <div class="test117"></div>
                        <div class="test118"></div>
                        <div class="test119"></div>
                        <div class="test1110"></div>
                    </div>
                </div>
            </div>
            <div class="childdiv122">
                <div id="myDiv3">
                    <div class="myDiv11">
                        Tests
                    </div>
                    <div>x</div>
                    <div>x</div>
                    <div class="test5">
                        <div class="test55"></div>
                    </div>
                    <div class="test6">
                        <div class="test55"></div>
                    </div>
                </div>
                <div id="myDiv4">
                    <div class="myDiv11">
                        Results
                        <button mat-flat-button color="primary" class="divButton" (click)="submitCode()">Submit</button>
                    </div>
                    <div>x</div>
                    <div>x</div>
                    <div class="test12" *ngIf="firstdiv">
                        <div class="test127"></div>
                    </div>
                    <div class="test13" *ngIf="seconddiv">
                        <div class="test137"></div>
                    </div>
                    <div class="spinner" *ngIf="showspinner"></div>
                </div>
            </div>
        </div>
        <div class="childdiv11">
            <div class="childdiv111">
                <h1>Prog Expert</h1>
                <p>The ultimate resource to prepare for coding interviews.</p>
                <p>Everything you need, in one streamlined platform.</p>
                <button mat-raised-button color="warn">Explore Prog Expert</button>
            </div>
        </div>
    </div>
    <div class="childdiv2">
        <app-feature-list></app-feature-list>
        <app-all-companies></app-all-companies>
        <app-all-engineer></app-all-engineer>
        <app-dsalgotopic></app-dsalgotopic>
        <app-languages></app-languages>
    </div>
</div>