<div class="firstdiv">
    <div class="thirddiv">
        <div class="wrap">
            <div class="cube">
                <div class="front cube1">JavaScript</div>
                <div class="back cube1">TypeScript</div>
                <div class="top cube1">Angular</div>
                <div class="bottom cube1">HTML</div>
                <div class="left cube1">Redux</div>
                <div class="right cube1">React</div>
            </div>
        </div>
    </div>
    <div class="seconddiv">
        <div class="seconddiv1">
            <h1>We Speak many Languages.</h1>
            <!-- <p>There's nothing more frustrating than opening an interview prep book,
            only to find a bunch of solutions in a programming language that you don't know. That's why all of our
                questions come with complete written solutions in 9 popular languages.</p> -->
            <p><strong>JavaScript</strong>, for all you Front-End Developers</p>
            <p><strong>TypeScript</strong>, for all you Edgy JavaScripters</p>
            <p><strong>Python</strong>, for all you Data Scientists</p>
            <p><strong>Swift</strong>, for all you iOS Engineers</p>
            <!-- <p><strong>Kotlin</strong>, for all you Androiders</p>
            <p><strong>C++</strong>, for all you Old Schoolers</p>
            <p><strong>Java</strong>, for all you Masochists</p>
            <p><strong>C#</strong>, for all you Microsofters</p>
            <p><strong>Go</strong>, for all you Kool Kidz</p> -->
        </div>
    </div>
    
</div>