<div class="firstdiv">
    <div class="seconddiv">
        <h2>Our trusted partners</h2>
        <div class="marquee">
                <div>Google,</div>
                <div>TCS,</div>
                <div>Wipro,</div>
                <div>Accenture,</div>
                <div>Info,</div>
                <div>Microsoft,</div>
                <div>L&T,</div>
                <div>Beta House,</div>
                <div>Google India,</div>
                <div>Flipkart,</div>
                <div>Amazon,</div>
                <div>Paypal,</div>
                <div>LinkedIn,</div>
        </div>
    </div>
     
</div>